.main-app {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 20rem 1fr;
}

.main-header {
  padding: 1rem;
}

/* New place form */
.new-place {
  position: absolute;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  place-content: center;
}

.new-place > form {
  width: 600px;
  background-color: white;
  padding: 1rem;
}

.new-place > .new-place-close {
  cursor: pointer;
  text-align: right;
  padding: 0.5rem 0;
  color: white;
  font-weight: bold;
}

.new-place .new-place-map {
  height: 400px;
}
